* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 1rem;
  border: 1px solid black;
}

section {
  border: 1px solid red;
  width: 30%;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li {
  padding: 1rem;
  border: 1px solid red;
  margin: 1rem 0rem;
}
